.knopka1 {
    width: 100%;
}
.forma {
    max-width: 600px;
}
.spusok {
    margin-top: 60px;
}

.lif {
    display: flex;
    align-items: center;
    gap: 10px;
    color: blue;
    font-size: 20px;
    padding: 10px;
}
.lif:hover {
    background-color: lightblue;
}

.spusok2 {
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px grey;
}
.sp1 {
   display: flex;
   align-items: center;
   gap: 10px;
}
.spmain{
    font-weight: 900;
}
.sp3 {
    opacity: 60%;
}

.lif2:after {
    content: '4';
    padding: 1px 10px;
    background-color: blue;
    color: white;
    font-size: 16px;
}
.lif3:after {
    content: '2';
    padding: 1px 10px;
    background-color: blue;
    color: white;
    font-size: 16px;
    align-self: start;
}
.page3b1 {
    display: flex;
    align-items: center;
    margin: 0;
}

.page3r {
    box-shadow: 0 0 5px grey;
}

.zag {
    font-weight: 900;
}
.chas {
    opacity: 60%;
    font-weight: 400;
}.boat img {
    width: 100%;
}

a {
    color: blue;
}
.ht {
    display: flex;
    align-items: center;
    gap: 5px;
}
.card-image {
    width: 100%;
}

.fsb {
    font-size: 26px;
}

.p4pic {
    display: flex;
    gap: 10px;
    
}
.zsy {
    display: inline-flex;
    gap: 20px;
}
.marg {
    margin-top: 20px;
}
.bord {
    border-bottom: 1px solid lightgray;
    padding: 15px 10px 15px 15px;
}

.p6l {
    display: flex;
}
.p62 {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.p6l img {
    height: 49px;
    width: 49px;
}

.zag0 {
    font-weight: normal;
}

.plast {
    display: flex;
    gap: 30px;
    padding: 20px 20px 10px 20px;
}
.lol {
    margin-bottom: 16rem;
}
.no-margin {
    margin: 0;
}

.ff {
    border-left: 1px solid lightgray;
}

.grw {
    flex-grow: 1;
}
