.knopka1 {
    width: 100%;
}
.forma {
    max-width: 600px;
}
.spusok {
    margin-top: 60px;
}

.lif {
    display: flex;
    align-items: center;
    gap: 10px;
    color: blue;
    font-size: 20px;
    padding: 10px;
}
.lif:hover {
    background-color: lightblue;
}

.spusok2 {
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px grey;
}
.sp1 {
   display: flex;
   align-items: center;
   gap: 10px;
}
.spmain{
    font-weight: 900;
}
.sp3 {
    opacity: 60%;
}

.lif2:after {
    content: '4';
    padding: 1px 10px;
    background-color: blue;
    color: white;
    font-size: 16px;
}
.page3b1 {
    display: flex;
    align-items: center;
    margin: 0;
}

.page3r {
    box-shadow: 0 0 5px grey;
}

.zag {
    font-weight: 900;
}
.chas {
    opacity: 60%;
    font-weight: 400;
}.boat img {
    width: 100%;
}

a {
    color: blue;
}
.ht {
    display: flex;
    align-items: center;
}